/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */


.img-profile,
.img-placeholder {
  height: 2rem;
  width: 2rem;
}

.img-placeholder {
  border: 1px solid gainsboro;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}


// SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--primary) 10%, #224abe 100%);

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);

}