<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Overview</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Progetti Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Progetti </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">7</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Risorse Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Risorse</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tasks Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-tasks fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comunicazioni Card -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Comunicazioni</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->

<div class="row">

  <!-- Stato progetti Chart -->
  <div class="col-lg-5">
    <div class="card shadow mb-4 chart">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Stato progetti</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="doughnutChartOptions"
          [plugins]="doughnutChartPlugins">
        </canvas>
      </div>
    </div>
  </div>

  <!-- Stato avanzamento progetti Chart -->
  <div class="col-lg-7">
    <div class="card shadow mb-4 chart">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Stato avanzamento progetti</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
          [type]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-5 mb-4">

    <!-- Progetti Card -->
    <div class="card shadow mb-4 ">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Progetti</h6>
      </div>
      <div class="card-body projects">
        <div class="project">
          <div class="prj-progress">
            <h4 class="small font-weight-bold">PRJ 1<span class="float-right">20%</span></h4>
            <div class="progress progress-sm mb-4">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="resources-area">
            <h4 class="small">Risorse coinvolte</h4>
            <div class="resources">
              <img data-toggle="tooltip" data-placement="top" class="img-profile rounded-circle" title="Jasson Campaña"
                src="https://media.licdn.com/dms/image/D4D03AQGHNLVRIMhTkQ/profile-displayphoto-shrink_800_800/0/1682062462662?e=2147483647&v=beta&t=Dj5CG6ubmP69CtkdUwMIBMH_wZF9nmXsDG6hPWs31Bw">
            </div>
          </div>
        </div>

        <hr>
        <div class="project">
          <div class="prj-progress">
            <h4 class="small font-weight-bold">PRJ 2 <span class="float-right">40%</span></h4>
            <div class="progress progress-sm mb-4">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="resources-area">
            <h4 class="small">Risorse coinvolte</h4>
            <div class="resources">
              <div class="img-placeholder">
                UT
              </div>
              <img data-toggle="tooltip" data-placement="top" class="img-profile rounded-circle" title="Jasson Campaña"
                src="https://media.licdn.com/dms/image/D4D03AQGHNLVRIMhTkQ/profile-displayphoto-shrink_800_800/0/1682062462662?e=2147483647&v=beta&t=Dj5CG6ubmP69CtkdUwMIBMH_wZF9nmXsDG6hPWs31Bw">
            </div>
          </div>
        </div>

        <hr>
        <div class="project">
          <div class="prj-progress">
            <h4 class="small font-weight-bold">PRJ 3 <span class="float-right">60%</span></h4>
            <div class="progress progress-sm mb-4">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>

          <div class="resources-area">
            <h4 class="small">Risorse coinvolte</h4>
            <div class="resources">
              <div class="img-placeholder">
                UT
              </div>
              <img data-toggle="tooltip" data-placement="top" class="img-profile rounded-circle" title="Jasson Campaña"
                src="https://media.licdn.com/dms/image/D4D03AQGHNLVRIMhTkQ/profile-displayphoto-shrink_800_800/0/1682062462662?e=2147483647&v=beta&t=Dj5CG6ubmP69CtkdUwMIBMH_wZF9nmXsDG6hPWs31Bw">
            </div>
          </div>
        </div>

        <hr>
        <div class="project">
          <div class="prj-progress">
            <h4 class="small font-weight-bold">PRJ 4 <span class="float-right">80%</span></h4>
            <div class="progress progress-sm mb-4">
              <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="resources-area">
            <h4 class="small">Risorse coinvolte</h4>
            <div class="resources">
              <div class="img-placeholder">
                UT
              </div>
            </div>

          </div>
        </div>

        <hr>
        <div class="project">
          <div class="prj-progress">
            <h4 class="small font-weight-bold">PRJ 5 <span class="float-right">Completato!</span></h4>
            <div class="progress progress-sm mb-4">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="resources-area">
            <h4 class="small">Risorse coinvolte</h4>
            <div class="resources">
              <div class="img-placeholder">
                UT
              </div>
            </div>

          </div>
        </div>
        <hr>
        <div class="project">
          <div class="prj-progress">
            <h4 class="small font-weight-bold">PRJ 6 <span class="float-right">90%</span></h4>
            <div class="progress progress-sm mb-4">
              <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="resources-area">
            <h4 class="small">Risorse coinvolte</h4>
            <div class="resources">
              <div class="img-placeholder">
                UT
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="col-lg-7 mb-4">

    <!-- Tasks -->
    <div class="card shadow mb-4 ">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tasks</h6>
      </div>
      <div class="card-body datatable">
        <div class="table-responsive">
          <table datatable [dtOptions]="this.dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
              </tr>
              <tr>
                <td>7</td>
                <td>François</td>
                <td>Holland</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>
              </tr>
              <tr>
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Comunicazioni -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Comunicazioni</h6>
      </div>
      <div class="card-body">
        <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
          CSS bloat and poor page performance. Custom CSS classes are used to create
          custom components and custom utility classes.</p>
        <p class="mb-0">Before working with this theme, you should become familiar with the
          Bootstrap framework, especially the utility classes.</p>
      </div>
    </div>

  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>