.card.chart,
.card-body.datatable,
.card-body.projects {
  min-height: 480px;
  max-height: 500px;
  overflow-y: auto;
}




.resources-area {
  display: flex;
  flex-direction: column;

  .resources {
    display: flex;
    flex-direction: row;
  }

  .img-profile,
  .img-placeholder {
    margin-right: 10px;
  }

}